doctype html
html
    head
        script(type="text/javascript",src="public/script/lib/snippets/javascript/size.js")
        link(href="public/style/style.css", rel="stylesheet")
    body
        leftnav
        script(type="text/javascript",src="public/script/build.js")
        script(type="text/javascript",src="public/script/lib/flexibility/flexibility.js")
        script(type="text/javascript") screenSize();